<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title><%= title %></title>
</head>
<body>
  <div class="d-flex justify-content-around">
    <h1 class="text-center">New 7 Wonders of The World</h1>
    <div><a class="btn btn-primary" href="/logout" role="button">Log Out</a></div>
</div>
    
<div class="m-3">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="https://new7wonders.com/app/uploads/sites/3/2016/08/GreatWall-1070x713.jpg" class="card-img-top" alt="image of GreatWall">
                <div class="card-body">
                  <h5 class="card-title">GREAT WALL OF CHINA</h5>
                  <p class="card-text">The Great Wall of China is a series of fortifications made of stone, brick, tamped earth, wood, and other materials, generally built along an east-to-west line across the historical northern borders of China to protect the Chinese states and empires against the raids and invasions of the various nomadic groups of the Eurasian Steppe. </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://new7wonders.com/app/uploads/sites/3/2016/09/image003-1070x759.jpg" class="card-img-top" alt="image of COLOSSEUM">
                <div class="card-body">
                  <h5 class="card-title">COLOSSEUM</h5>
                  <p class="card-text">The Colosseum or Coliseum (/kɒləˈsiːəm/ kol-ə-SEE-əm), also known as the Flavian Amphitheatre (Latin: Amphitheatrum Flavium; Italian: Anfiteatro Flavio [amfiteˈaːtro ˈflaːvjo] or Colosseo [kolosˈsɛːo]), is an oval amphitheatre in the centre of the city of Rome, Italy.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://new7wonders.com/app/uploads/sites/3/2016/08/scott-umstattd-87129-1400x933.jpg" class="card-img-top" alt="image of MACHU PICCHU">
                <div class="card-body">
                  <h5 class="card-title">MACHU PICCHU</h5>
                  <p class="card-text">Machu Picchu (Spanish pronunciation: [ˈmatʃu ˈpiktʃu]) or Machu Pikchu ([ˈmɑtʃu ˈpixtʃu]), is a 15th-century Inca citadel situated on a mountain ridge 2,430 metres (7,970 ft) above sea level. It is located in the Cusco Region, Urubamba Province, Machupicchu District in Peru, above the Sacred Valley, which is 80 kilometres (50 mi) northwest of Cuzco and through which the Urubamba River flows.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://new7wonders.com/app/uploads/sites/3/2016/07/taj_mahal-new7wonders-14-1070x801.jpg" class="card-img-top" alt="image of TAJ MAHAL">
                <div class="card-body">
                  <h5 class="card-title">TAJ MAHAL</h5>
                  <p class="card-text">The Taj Mahal (/ˌtɑːdʒ məˈhɑːl/, more often /ˈtɑːʒ/; Persian for Crown of Palaces) is an ivory-white marble mausoleum on the south bank of the Yamuna river in the Indian city of Agra. In 2007, it was declared a winner of the New7Wonders of the World (2000–2007) initiative.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://new7wonders.com/app/uploads/sites/3/2016/09/COLLAGE_CHICHEN-1070x846.jpg" class="card-img-top" alt="image of CHICHÉN ITZÁ">
                <div class="card-body">
                  <h5 class="card-title">CHICHÉN ITZÁ</h5>
                  <p class="card-text">El Castillo (Spanish pronunciation: [el kas’tiʎo]), Spanish for “the castle”), also known as the Temple of Kukulcan, is a Mesoamerican step-pyramid that dominates the center of the Chichen Itza archaeological site in the Mexican state of Yucatán. The building is more formally designated by archaeologists as Chichen Itza Structure 5B18.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://new7wonders.com/app/uploads/sites/3/2016/09/L1040075-1070x602.jpg" class="card-img-top" alt="image of PETRA">
                <div class="card-body">
                  <h5 class="card-title">PETRA</h5>
                  <p class="card-text">Petra (Arabic: البتراء, Al-Batrāʾ; Ancient Greek: Πέτρα), originally known to the Nabataeans as Raqmu, is a historical and archaeological city in southern Jordan. The city is famous for its rock-cut architecture and water conduit system. Another name for Petra is the Rose City due to the color of the stone out of which it is carved.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://new7wonders.com/app/uploads/sites/3/2016/07/aerial-cristo-banner-1070x538.jpg" class="card-img-top" alt="image of CHRIST THE REDEEMER">
                <div class="card-body">
                  <h5 class="card-title">CHRIST THE REDEEMER</h5>
                  <p class="card-text">Christ the Redeemer (Portuguese: Cristo Redentor, standard Brazilian Portuguese: [ˈkɾistu χedẽˈtoɾ], local dialect: [ˈkɾiʃtu ɦedẽˈtoɦ]) is an Art Deco statue of Jesus Christ in Rio de Janeiro, Brazil, created by Polish-French sculptor Paul Landowski and built by the Brazilian engineer Heitor da Silva Costa, in collaboration with the French engineer Albert Caquot.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
   
</body>
</html>